# .env file

# PostgreSQL Config
POSTGRES_USER=ticketbox
POSTGRES_PASSWORD=ticketbox
POSTGRES_DB=ticketbox

# Cloud APIs (Thay bằng key thật của bạn để test)
GEMINI_API_KEY=
RESEND_API_KEY=

# (Chỉ cần thiết nếu EMAIL_PROVIDER=smtp) Cấu hình Gmail App Password
EMAIL_PROVIDER=smtp
SMTP_USERNAME=
SMTP_PASSWORD= 
EMAIL_FROM=
